body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1542px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1673 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:418px;
  width:32px;
  height:27px;
}
#u1673_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:28px;
  word-wrap:break-word;
}
#u1674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1674 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:421px;
  width:32px;
  height:27px;
}
#u1674_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:28px;
  word-wrap:break-word;
}
#u1675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1675 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:418px;
  width:32px;
  height:27px;
}
#u1675_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:28px;
  word-wrap:break-word;
}
#u1676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:27px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1676 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:418px;
  width:32px;
  height:27px;
}
#u1676_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:28px;
  word-wrap:break-word;
}
#u1677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1677 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:416px;
  width:36px;
  height:36px;
}
#u1677_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u1678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1678 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:417px;
  width:36px;
  height:36px;
}
#u1678_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:32px;
  word-wrap:break-word;
}
#u1679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1001px;
  height:170px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1679 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:946px;
  width:1001px;
  height:170px;
}
#u1679_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:170px;
}
#u1681 {
  border-width:0px;
  position:absolute;
  left:208px;
  top:99px;
  width:480px;
  height:170px;
}
#u1681_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
#u1682 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:279px;
  width:108px;
  height:100px;
}
#u1682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
#u1683 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:279px;
  width:108px;
  height:100px;
}
#u1683_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
#u1684 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:279px;
  width:108px;
  height:100px;
}
#u1684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:92px;
}
#u1685 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:389px;
  width:473px;
  height:92px;
}
#u1685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:170px;
}
#u1686 {
  border-width:0px;
  position:absolute;
  left:729px;
  top:99px;
  width:480px;
  height:170px;
}
#u1686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:92px;
}
#u1687 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:389px;
  width:473px;
  height:92px;
}
#u1687_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
#u1688 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:279px;
  width:108px;
  height:100px;
}
#u1688_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
#u1689 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:279px;
  width:108px;
  height:100px;
}
#u1689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:100px;
}
#u1690 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:279px;
  width:108px;
  height:100px;
}
#u1690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1691 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:417px;
  width:36px;
  height:36px;
}
#u1691_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1692 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:416px;
  width:36px;
  height:36px;
}
#u1692_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1693 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:416px;
  width:36px;
  height:36px;
}
#u1693_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1694 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:416px;
  width:36px;
  height:36px;
}
#u1694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1695 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:416px;
  width:36px;
  height:36px;
}
#u1695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u1696 {
  border-width:0px;
  position:absolute;
  left:1149px;
  top:416px;
  width:36px;
  height:36px;
}
#u1696_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:197px;
}
#u1698 {
  border-width:0px;
  position:absolute;
  left:235px;
  top:988px;
  width:1079px;
  height:197px;
}
#u1698_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:90px;
  width:1075px;
  word-wrap:break-word;
}
#u1700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:257px;
}
#u1700 {
  border-width:0px;
  position:absolute;
  left:1349px;
  top:304px;
  width:243px;
  height:257px;
}
#u1700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'黑体 Bold Oblique', '黑体';
  font-weight:700;
  font-style:oblique;
  font-size:48px;
}
#u1701 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:0px;
  width:351px;
  height:55px;
  font-family:'黑体 Bold Oblique', '黑体';
  font-weight:700;
  font-style:oblique;
  font-size:48px;
}
#u1701_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:351px;
  word-wrap:break-word;
}
#u1702 {
  border-width:0px;
  position:absolute;
  left:308px;
  top:417px;
  width:36px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1703 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:416px;
  width:36px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1704 {
  border-width:0px;
  position:absolute;
  left:626px;
  top:416px;
  width:36px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1705 {
  border-width:0px;
  position:absolute;
  left:825px;
  top:416px;
  width:36px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1706 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:416px;
  width:36px;
  height:36px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1707 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:279px;
  width:108px;
  height:128px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1708 {
  border-width:0px;
  position:absolute;
  left:387px;
  top:279px;
  width:108px;
  height:127px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1709 {
  border-width:0px;
  position:absolute;
  left:554px;
  top:279px;
  width:108px;
  height:127px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1710 {
  border-width:0px;
  position:absolute;
  left:743px;
  top:279px;
  width:108px;
  height:127px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1711 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:279px;
  width:108px;
  height:127px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1712 {
  border-width:0px;
  position:absolute;
  left:1069px;
  top:279px;
  width:108px;
  height:127px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
