<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0 ,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!--<link th:href="@{/css/skin.css}" rel="stylesheet" type="text/css" />-->
		<!--<script th:src="@{/js/jquery.min.js}"></script>-->

		<link th:href="@{/css/amazeui.css}" rel="stylesheet" type="text/css" />

		<link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/cartstyle.css}" rel="stylesheet" type="text/css" />

		<link th:href="@{/css/jsstyle.css}" rel="stylesheet" type="text/css" />

		<script type="text/javascript" th:src="@{/js/address.js}"></script>
<style>
	.w1{
		background-color:gainsboro;

	}
</style>
	</head>

	<body>
	<div th:if="${session.user != null}"  >
		<div class="hmtop w1" >
			<!--顶部导航条-->
			<div class="am-container header">
				<ul class="message-l">
					<a a th:href="@{/user/showInformation}" target="_top" class="h">
					欢迎您,
					<span th:text="${session.user.userAccount}" ></span></a>
					<a th:href="@{/user/loginout}">注销</a>
				</ul>
				<ul class="message-r">
					<div class="topMessage home">
						<div class="menu-hd"><a th:href="@{/user/main}"  target="_top" class="h">商城首页 |</a></div>
					</div>

					<div class="topMessage my-shangcheng">
						<div class="menu-hd MyShangcheng"><a th:href="@{/user/showInformation}" target="_top">个人中心 |</a>
							<a th:href="@{/order/order}" target="_top">我的订单 |</a>
						</div>
					</div>
					<div class="topMessage mini-cart">
						<div class="menu-hd"><a id="mc-menu-hd" th:href="@{/cart/search(userId=${session.user.userId})}" target="_top"><span>购物车 |</span></a></div>
					</div>
					<div class="topMessage favorite">
						<div class="menu-hd"><a th:href="@{/collect/collectsearch(userId=${session.user.userId})}"  target="_top"><span>收藏夹</span></a></div>

				</ul>
			</div>
			<div class="clear"></div>
		</div>
	</div>






	<div th:unless="${session.user != null}"  >
	<div class="hmtop w1">
		<!--顶部导航条-->
		<div class="am-container header">
			<ul class="message-l">
				<div class="topMessage">
					<div class="menu-hd">
						<a th:href="@{/toLogin}" target="_top" class="h">亲，请登录</a>
						<a th:href="@{/tozhuche}"  target="_top">免费注册</a>
					</div>
				</div>
			</ul>
			<ul class="message-r">
				<div class="topMessage home">
					<div class="menu-hd"><a th:href="@{/tomain}" target="_top" class="h">商城首页 |</a></div>
				</div>

				<!--<div class="topMessage my-shangcheng">-->
					<!--<div class="menu-hd MyShangcheng"><a href="..\person\index.html" target="_top">个人中心 |</a>-->
					<!--<a href="">我的订单 |</a>-->
					<!--</div>-->
				<!--</div>-->
				<!--<div class="topMessage mini-cart">-->
					<!--<div class="menu-hd"><a id="mc-menu-hd" href="pay.html" target="_top"><span>购物车 |</span></a></div>-->
				<!--</div>-->
				<!--<div class="topMessage favorite">-->
					<!--<div class="menu-hd"><a href="#" target="_top"><span>收藏夹</span></a></div>-->

			</ul>
		</div>
		<div class="clear"></div>
	</div>
	</div>
	</body>















	<!--<iframe src="heart.html" width="1349px" height="125px"></iframe>-->
	<!--<iframe src="foot.html" width="980px" height="80px"></iframe>-->

	<!--悬浮搜索框-->

	<!--<div class="nav white">-->
	<!--<div class="logo"><img src="../images/logo.png" /></div>-->
	<!--<div class="logoBig">-->
	<!--<li><img src="../images/logobig.png" /></li>-->
	<!--</div>-->

	<!--<div class="search-bar pr">-->

	<!--<form action="search.html">-->
	<!--<input id="searchInput" name="index_none_header_sysc" type="text" placeholder="搜索" autocomplete="off">-->
	<!--&lt;!&ndash;<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">&ndash;&gt;-->
	<!--<input id="ai-topsearch" class="submit am-btn" value="搜索"  type="submit">-->
	<!--</form>-->
	<!--</div>-->
	<!--</div>-->
</html>