<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>搜索页面</title>

		<link th:href="@{/css/amazeui.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/admin.css}" rel="stylesheet" type="text/css" />

		<link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css" />

		<link th:href="@{/css/seastyle.css}" rel="stylesheet" type="text/css" />

		<script type="text/javascript" th:src="@{/js/jquery-1.7.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/script.js}"></script>
		<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js">
		</script>
		<script>

            $(document).ready(function(){
                $(".select dd").click(function(){
                    if ($(".select-result dd").length > 1) {
                        $(".select-no").hide();
                        $(".eliminateCriteria").show();
                        $(".select-result").show();
                    } else {
                        $(".select-no").show();
                        $(".select-result").hide();

                    }
                });
                $("onclick").click(function(){
                    $(".select-no").show();
                    $(".liminateCriteria").show();
                    var B=$("#selectB").children(".t").text();
                    var A=$("#selectA").children(".h").text();
                    var C=$("#selectC").children(".g").text();
                    var p=$("#on").attr("value");
                    location.href="/Luoqi/goods1/search5?b="+A+"&zl="+B+"&price="+C+"&p="+p;
                });
            });
		</script>
	</head>

	<body>

		<!--顶部导航条 -->
		<!--<div th:replace="/home/heart :: html"></div>-->
		<iframe th:src="@{/goods/heart}" width="1920px" height="45px"  style="border: none"></iframe>
		<!--悬浮搜索框-->
		<br/>
		<div class="hmtop">
			<!--<div th:replace="/home/heart1 :: html" style="border: none"></div>-->
			<div class="nav white">
				<div class="logo">
					<img th:src="@{/images/logo.png}" /></div>
				<div class="logoBig">
					<li><img th:src="@{/duomai/images/x.png}" /></li>
				</div>
				<div class="search-bar pr">
					<a name="index_none_header_sysc" href="#"></a>

					<form target="_top" th:action="@{/goods/search}" method="get">
						<input id="searchInput" name="key" type="text" placeholder="搜索" autocomplete="off" th:value="${k}">
						<input id="ai-topsearch" class="submit am-btn" value="搜索" index="1" type="submit">
					</form>
				</div>
			</div>

		<div class="clear"></div>
		</div>
			<div class="clear"></div>
			<!--<b class="line"></b>-->
           <div class="search" >
			<div class="search-list">

			
				
					<div class="am-g am-g-fixed">
						<table class="am-u-sm-12 am-u-md-12">
	                  	<div class="theme-popover">														

							<ul class="select">
								<p class="title font-normal">
									<span class="fl" th:text="${p}"></span>
									<span class="total fl">搜索到<strong class="num" th:text="${glist.total}"></strong>件相关商品</span>
								</p>
								<div class="clear"></div>
								<li class="select-result">
									<dl>
										<dt>已选</dt>
										<dd class="select-no"></dd>
										<p class="eliminateCriteria">清除</p>
									</dl>
								</li>
								<div class="clear"></div>
								<li class="select-list">
									<dl id="select1">
										<dt class="am-badge am-round">品牌</dt>	
									
										 <div class="dd-conent">										
											<dd class="select-all selected"><a href="#">全部</a></dd>
											 <dd th:each="biandId:${biandId}">

												 <a th:href="@{#}" th:text="${biandId}" class="h"> </a>

											 </dd>
										 </div>
						
									</dl>
								</li>
								<li class="select-list">
									<dl id="select2">
										<dt class="am-badge am-round">种类</dt>
										<div class="dd-conent">
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<dd th:each="className2:${className2}">
												<a th:href="@{#}" th:text="${className2}" class="t"></a>
											</dd>
										</div>
									</dl>
								</li>
								<li class="select-list">
									<dl id="select3">
										<dt class="am-badge am-round">价格</dt>
										<div class="dd-conent">
											<dd class="select-all selected"><a href="#">全部</a></dd>
											<dd><a th:href="@{#}"  class="g">100以下</a></dd>
											<dd>

												<a th:href="@{#}" class="g">100-200</a>


											</dd>
											<dd><a th:href="@{#}" class="g">200以上</a></dd>
											<onclick  style="float: right"  th:value="${p}" id="on">进行筛选</onclick>
										</div>
									</dl>
								</li>

							</ul>

							<div class="clear"></div>
                        </div>
							<div class="search-content">
								<div class="sort">
									<li class="first"><a title="综合" th:href="@{/goods1/search6(p=${p},b=${b},zl=${zl},price=${price})}">综合排序</a></li>
									<!--<li><a title="销量">销量排序</a></li>-->
									<li><a title="价格" th:href="@{/goods1/search7(p=${p},b=${b},zl=${zl},price=${price})}">价格优先</a></li>
									<li class="big"><a title="评价" th:href="@{/goods1/search8(p=${p},b=${b},zl=${zl},price=${price})}">评价为主</a></li>
									<li class="big"><a title="评价" th:href="@{/goods1/search9(p=${p},b=${b},zl=${zl},price=${price})}">发布时间</a></li>
								</div>
								<div class="clear"></div>

								<div th:if="${glist.total >0}" >
									<ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">

										<li th:each="goods:${glist.list}">


											<div class="i-pic limit">
												<!--<td ><a th:href="@{/user/updatepre(gid=${goods.id})}">修改</a></td>-->

												<!--<a th:href="@{/goods/good(goodsId=${goods.goodsId})}">-->
												<!--<a th:href="@{/goods/good(goodsId=${goods.goodsId})}">-->

												<input  type="hidden" class="footgoodsId" name="footgoodsId" th:value="${goods.goodsId}"/>
												<a   class="goodsfoot">
													<img th:src="${goods.image.goodsPicMaster}" />
													<p class="title fl" th:text="${goods.goodsName}"></p>
													<p class="price fl">
														<b>¥</b>
														<strong th:text="${goods.goodsPrice}"></strong>
													</p>
												</a>
												<p class="number fl">
													销量<span th:text="${goods.goodsSales}"></span>
												</p>
											</div>



										</li>

									</ul>
								</div>
							</div>
							<div class="search-side">

								<div class="side-title">
									随机推荐
								</div>

								<li th:each="rgood:${rgood}">
									<div class="i-pic check" style="height: 358px" >
										<a th:href="@{/goods/good(goodsId=${rgood.goodsId})}">
											<!--<a th:href="@{/goods/good(goodsId=${goods.goodsId})}">-->
											<img th:src="${rgood.image.goodsPicMaster}" />
											<p class="title fl" th:text="${rgood.goodsName}"></p>
											<p class="price fl">
												<b>¥</b>
												<strong th:text="${rgood.goodsPrice}"></strong>
											</p>
										</a>
										<p class="number fl">
											销量<span th:text="${rgood.goodsSales}"></span>
										</p>
									</div>
								</li>

							</div>

							<div class="clear"></div>
							<!--分页 -->

							<div align="center">
								共 <b th:text="${glist.total}"></b> 条 &nbsp;&nbsp;&nbsp;&nbsp;
									<a th:href="@{/goods1/search5(p=${p},curPage=1,b=${b},zl=${zl},price=${price})}">首页</a> &nbsp;&nbsp;&nbsp;&nbsp;
									<a th:href="@{/goods1/search5(curPage=${glist.prePage},p=${p},b=${b},zl=${zl},price=${price})}" th:if="${!glist.isFirstPage}">上一页</a>&nbsp;&nbsp;&nbsp;&nbsp;
								当前第<span th:text="${glist.pageNum}"></span>页&nbsp;&nbsp;&nbsp;&nbsp;
									<a th:href="@{/goods1/search5(curPage=${glist.nextPage},p=${p},b=${b},zl=${zl},price=${price})}" th:if="${!glist.isLastPage}">下一页</a>&nbsp;&nbsp;&nbsp;&nbsp;
									<a th:href="@{/goods1/search5(p=${p},curPage=${glist.pages},b=${b},zl=${zl},price=${price})}">末页</a>&nbsp;&nbsp;&nbsp;&nbsp;
							</div>
						</table>
						</div>
					</div>

				</div>

			<!--</div>-->

		<!--引导 -->
		<div class="navCir">
			<li><a href="home.html"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>
			<li><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>	
			<li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>					
		</div>

		<!--菜单 -->
		<div class=tip style="border: none">
			<div th:if="${session.user != null}"  >
				<div id="sidebar">
					<div id="wrap">
						<div id="prof" class="item ">
							<a th:href="@{/user/showInformation}">
								<span class="setting "></span>
							</a>
							<div class="ibar_login_box status_login ">
								<div class="avatar_box ">
									<p class="avatar_imgbox "><img src="../images/no-img_mid_.jpg " /></p>
									<ul class="user_info ">
										<li>用户名sl1903</li>
										<li>级&nbsp;别普通会员</li>
									</ul>
								</div>
								<div class="login_btnbox ">
									<a th:href="@{/order/order}" class="login_order ">我的订单</a>
									<a th:href="@{/collect/collectsearch(userId=${session.user.userId})}" class="login_favorite ">我的收藏</a>
								</div>
								<i class="icon_arrow_white "></i>
							</div>

						</div>
						<div id="shopCart " class="item ">
							<a th:href="@{/cart/search(userId=${session.user.userId})}">
								<span class="message "></span>
							</a>
							<p>
								购物车
							</p>
							<p class="cart_num ">
								<em th:text="${usercartnum}" style="color: white"></em>
							</p>
						</div>
						<div id="asset " class="item ">
							<a th:href="@{/volume/personselectvolume}">
								<span class="view "></span>
							</a>
							<div class="mp_tooltip ">
								我的资产
								<i class="icon_arrow_right_black "></i>
							</div>
						</div>

						<div id="foot " class="item ">
							<a th:href="@{/foot/getfoot(userId=${session.user.userId})}">
								<span class="zuji "></span>
							</a>
							<div class="mp_tooltip ">
								我的足迹
								<i class="icon_arrow_right_black "></i>
							</div>
						</div>

						<div id="brand " class="item ">
							<a th:href="@{/collect/collectsearch(userId=${session.user.userId})}">
								<span class="wdsc "><img src="../images/wdsc.png " /></span>
							</a>
							<div class="mp_tooltip ">
								我的收藏
								<i class="icon_arrow_right_black "></i>
							</div>
						</div>

						<!--<div id="broadcast " class="item ">-->
						<!--<a href="# ">-->
						<!--<span class="chongzhi "><img src="../images/chongzhi.png " /></span>-->
						<!--</a>-->
						<!--<div class="mp_tooltip ">-->
						<!--我要充值-->
						<!--<i class="icon_arrow_right_black "></i>-->
						<!--</div>-->
						<!--</div>-->

						<div class="quick_toggle ">
							<!--<li class="qtitem ">-->
							<!--<a href="# "><span class="kfzx "></span></a>-->
							<!--<div class="mp_tooltip ">客服中心<i class="icon_arrow_right_black "></i></div>-->
							<!--</li>-->
							<!--二维码 -->
							<li class="qtitem ">
								<a href="#none "><span class="mpbtn_qrcode "></span></a>
								<div class="mp_qrcode " style="display:none; "><img src="../images/weixin_code_145.png " /><i class="icon_arrow_white "></i></div>
							</li>
							<li class="qtitem ">
								<a href="#top " class="return_top "><span class="top "></span></a>
							</li>
						</div>

						<!--回到顶部 -->
						<div id="quick_links_pop " class="quick_links_pop hide "></div>

					</div>

				</div>
			</div>
			<div id="prof-content " class="nav-content ">
				<div class="nav-con-close ">
					<i class="am-icon-angle-right am-icon-fw "></i>
				</div>
				<div>
					我
				</div>
			</div>
			<div id="shopCart-content " class="nav-content ">
				<div class="nav-con-close ">
					<i class="am-icon-angle-right am-icon-fw "></i>
				</div>
				<div>
					购物车
				</div>
			</div>
			<div id="asset-content " class="nav-content ">
				<div class="nav-con-close ">
					<i class="am-icon-angle-right am-icon-fw "></i>
				</div>
				<div>
					资产
				</div>

				<div class="ia-head-list ">
					<a href="# " target="_blank " class="pl ">
						<div class="num ">0</div>
						<div class="text ">优惠券</div>
					</a>
					<a href="# " target="_blank " class="pl ">
						<div class="num ">0</div>
						<div class="text ">红包</div>
					</a>
					<a href="# " target="_blank " class="pl money ">
						<div class="num ">￥0</div>
						<div class="text ">余额</div>
					</a>
				</div>

			</div>
			<div id="foot-content " class="nav-content ">
				<div class="nav-con-close ">
					<i class="am-icon-angle-right am-icon-fw "></i>
				</div>
				<div>
					足迹
				</div>
			</div>
			<div id="brand-content " class="nav-content ">
				<div class="nav-con-close ">
					<i class="am-icon-angle-right am-icon-fw "></i>
				</div>
				<div>
					收藏
				</div>
			</div>
			<div id="broadcast-content " class="nav-content " style="border: none;margin-top: 35">
				<div class="nav-con-close ">
					<i class="am-icon-angle-right am-icon-fw "></i>
				</div>
				<div>
					充值
				</div>
			</div>
		</div>
		<script>
			window.jQuery || document.write('<script th:src="@{/js/jquery-1.9.0.min.js"}><\/script>');
		</script>
		<script type="text/javascript" th:src="@{/js/quick_links.js}"></script>

<div class="theme-popover-mask"></div>
		<iframe th:src="@{/foot/bottom}"  width="1920px;" height="656px;"  style="border: none"></iframe></body>
	<script >
        //        <!--<a th:href="@{/goods/good(goodsId=${goods.goodsId})}">-->

        $(".goodsfoot").click(
            function () {
                var r=$(this).prevAll(".footgoodsId").val();
                $.ajax({
                    //请求的方式,向服务器发送请求,查询用户名是否存在,发送什么类型的请求
                    type: "POST",
                    //MVC ,请求发送C层,C->Model,去域对象的里面取,js可以是被el表达式
                    url: "/Luoqi/foot/insertfoot?goodsId="+r,
                    success: function (maps) {
//                        console.info(map);

//                        th:href="@{/goods/good(goodsId=${goods.goodsId})}
                        window.location.href="/Luoqi/goods/good?goodsId="+r;
//                        if (map.name=="0") {
//
//                            layer.msg("添加成功");


//                        }
//                        else {
//                            alert("已收藏");
//
//
//                        }
                    },
                    error: function () {
                        layer.closeAll();
                    }
                });
            }

        );
	</script>

</html>