<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<title>购物车页面</title>

		<link th:href="@{/css/amazeui.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/demo.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/cartstyle.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/css/optstyle.css}" rel="stylesheet" type="text/css" />

		<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
		<!--<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>-->
		<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
		<script type="text/javascript" th:src="@{/js/Calculation.js}"></script>
		<style>
			#w1{
				position: absolute;
				left:50px ;
				top:800px; border: none;
			}
			.ww{
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				course:hand;
			}
		</style>

	</head>

	<body>
	<div class="hmtop">
		<!--顶部导航条 -->
		<!--<iframe th:src="@{/home/heart.html}" width="1920px" height="36px"  style="border: none"></iframe>-->
		<div th:replace="/home/heart :: html"></div>
		<!--悬浮搜索框-->

		<div class="nav white">
			<!--<iframe th:src="@{/goods/heart1}" width="1960px" height="120px"  style="border: none"></iframe>&lt;!&ndash;->-->
			<div th:replace="/home/heart1 :: html"></div>
		</div>

		<div class="clear"></div>
	</div>
			<!--购物车 -->
			<div class="concent">
				<div id="cartTable">
					<div class="cart-table-th">
						<div class="wp">
							<div class="th th-chk">
								<div id="J_SelectAll1" class="select-all J_SelectAll">

								</div>
							</div>
							<div class="th th-item" style="width: 455px">
								<div class="td-inner">商品信息</div>
							</div>
							<div class="th th-price" style="width: 105px">
								<div class="td-inner">单价</div>
							</div>
							<div class="th th-amount" style="width: 135px">
								<div class="td-inner">数量</div>
							</div>
							<div class="th th-sum" style="width: 105px">
								<div class="td-inner">金额</div>
							</div>
							<div class="th th-op" style="width: 135px">
								<div class="td-inner">操作</div>
							</div>

						</div>
					</div>
					<div class="clear"></div>

					<tr class="item-list">
						<div class="bundle  bundle-last ">
							<div class="bundle-hd">
								<div class="bd-promos">
									<!--<div class="bd-has-promo">-->
										<!--已享优惠:<span class="bd-has-promo-content">省￥19.50</span>&nbsp;&nbsp;-->
									<!--</div>-->
									<div class="act-promo">
										<a href="#" target="_blank"><span class="gt">&gt;&gt;</span></a>
									</div>
									<span class="list-change theme-login">编辑</span>
								</div>
							</div>
							<div class="clear"></div>
							<div class="bundle-main">
								<div class="item-content clearfix gwc_tb2"   th:each="cart:${cartnum}">
									<div>
									<li class="td td-chk"  >

										<div class="cart-checkbox ">
											<input  type="hidden" class="endgoodsId" name="endgoodsId" th:value="${cart.goods.goodsId}"/>
											<input  type="hidden" class="endgoodsnum" name="endgoodsnum" th:value="${cart.num}"/>
											<input class="check "  name="newslist"  id="newslist-1" value="170037950254" type="checkbox">
											<label for="J_CheckBox_170037950254"></label>
										</div>
									</li>
									<li class="td td-item">
										<div class="item-pic">
											<a href="#" target="_blank" data-title="东西" class="J_MakePoint" data-point="tbcart.8.12">
												<img th:src="${cart.goods.image.goodsPicMaster}"  width="80px" height="80px" class="itempic J_ItemImg">
												</a>
										</div>
										<div class="item-info">
											<!--<div class="item-basic-info">-->
												<!--<a href="#" target="_blank" title="" class="item-title J_MakePoint" data-point="tbcart.8.11">东西</a>-->
											<!--</div>-->
										</div>
									</li>
									<li class="td td-info" style="width: 455px">
										<div class="item-props item-props-can">
                                              <a class="ww" th:text="${cart.goods.goodsName}"></a>
											<!--<span class="sku-line">颜色：黑</span>-->
											<!--<span class="sku-line">包装：裸装</span>-->
											<span tabindex="0" class="btn-edit-sku theme-login">修改</span>
											<i class="theme-login am-icon-sort-desc"></i>
										</div>
									</li>
									<li class="td td-price" style="width: 105px;margin-top: 40px">
										<div class="item-price price-promo-promo">
											<div class="price-content">
												<div class="price-line">
													<em class="price-original">
														<a  th:text="${cart.goods.goodsPrice}"></a>
													</em>
												</div>
												<div class="price-line"style="width: 105px;margin-top: 20px" >
													<em class="J_Price price-now " tabindex="0">
														<input type="hidden" style="border: none;" class="wwwgoods" th:value="${cart.goods.goodsLastPrice}"/>
														<a th:text="${cart.goods.goodsLastPrice}"></a>
													</em>
												</div>
											</div>
										</div>
									</li>
									<li class="td td-amount" style="width:135px;margin-top: 40px">
										<div class="amount-wrapper ">
											<div class="item-amount ">
												<div class="sl">
													<div >

														<input type="hidden" class="cartgoodsmoney" th:value="${cart.goods.goodsLastPrice}">
														<input  type="hidden" class="goodsId" name="goodsId" th:value="${cart.goods.goodsId}"/>
														<input style="width: 30px" type="button" id="numdown" class="numdown" value="-">
														<input style="width: 60px" class="cartnum" id="cartnum" type="text" th:value="${cart.num}" />
														<input  style="width: 30px" type="button" id="numup" class="numup" value="+">
													</div>
													<!--<a  th:text="${cart.num}" ></a>-->
													<!--<input class="min am-btn" name="" type="button" value="-" />-->
													<!--<input class="text_box" name="" type="text" th:text="${cartnum.num}" style="width:30px;" />-->
													<!--<input class="add am-btn" name="" type="button" value="+" />-->
												</div>
											</div>
										</div>
									</li>
									<li class="td td-sum" style="width: 105px;margin-top: 40px">
										<div class="td-inner" >
											<em tabindex="0" class="J_ItemSum number">
												<input type="hidden" style="border: none;margin-left: 42px" class="cartallmoney" th:value="${cart.allGoodsLastPrice}"/>
												<a name="sumofmoney" href="#"  th:text="${cart.allGoodsLastPrice}" hidefocus="true" class="cartallmoneychange"></a>
											</em>
										</div>
									</li>
									<li class="td td-op" style="width: 135px;margin-top: 40px">
										<div class="td-inner">

											<!--<a  th:href="@{/collect/insertcollect(userId=${session.user.userId},goodsId=${cart.goods.goodsId})}"    title="移入收藏夹" class="btn-fav" href="#">-->
                  <!--移入收藏夹</a>				-->
											<input  type="hidden" class="goodsId" name="goodsId" th:value="${cart.goods.goodsId}"/>
											<a class="btn-fav">移入收藏夹</a>
											<!--<button  class="btn-fav">移入收藏夹</button>-->
											<!--<a   onclick="return collect();" class="btn-fav" >  移入收藏夹</a>-->
											<!--th:href="@{/cart/insertcart(userId=${session.user.userId},goodsId=${good.goodsId})}"-->
											<a   th:href="@{/cart/deletecart(userId=${session.user.userId},goodsId=${cart.goods.goodsId})}" data-point-url="#" class="delete">
                  删除</a>
										</div>
									</li>
									</div>
								</ul>
								
								
								
								

								
								
								
							</div>
						</div>
					</tr>
					<div class="clear"></div>

					<tr class="item-list">

					</tr>
				</div>
				<div class="clear"></div>

				<div class="float-bar-wrapper">
					<div id="J_SelectAll2" class="select-all J_SelectAll">
						<div class="cart-checkbox">
							<input class="check-all check allselect" id="J_SelectAllCbx2" name="select-all" value="true" type="checkbox">
							<label for="J_SelectAllCbx2"></label>
						</div>
						<span>全选</span>
					</div>
					<!--<div class="operations">-->
						<!--<a href="#" hidefocus="true" class="deleteAll">删除</a>-->
						<!--<a href="#" hidefocus="true" class="J_BatchFav">移入收藏夹</a>-->
					<!--</div>-->
					<div class="float-bar-right">
						<div class="amount-sum">
							<span class="txt">已选商品</span>
							<label id="shuliang" style="color:#ff5500;font-size:14px; font-weight:bold;">0</label>
							<span class="txt">件</span>
							<div class="arrow-box">
								<span class="selected-items-arrow"></span>
								<span class="arrow"></span>
							</div>
						</div>
						<div class="price-sum">
							<span class="txt">合计:</span>
							<strong class="price">¥
								<label id="zong1" style="color:#ff5500;font-size:14px; font-weight:bold;"></label>
							</strong>
						</div>
						<div class="btn-area">
							<input type="button" class="endtopay btn-area" value="结算"/>
							<!--<a href="pay.html" id="J_Go" class="submit-btn submit-btn-disabled" aria-label="请注意如果没有选择宝贝，将无法结算">-->
								<!--<span>结&nbsp;算</span></a>-->
						</div>
					</div>

				</div>
				<!--<iframe src="../底部/down.html" width="1900px" height="255px" id="w1"  style="border: none"></iframe>-->
				<!--<div class="footer">-->
					<!--<div class="footer-hd">-->
						<!--<p>-->
							<!--<a href="#">恒望科技</a>-->
							<!--<b>|</b>-->
							<!--<a href="#">商城首页</a>-->
							<!--<b>|</b>-->
							<!--<a href="#">支付宝</a>-->
							<!--<b>|</b>-->
							<!--<a href="#">物流</a>-->
						<!--</p>-->
					<!--</div>-->
					<!--<div class="footer-bd">-->
						<!--<p>-->
							<!--<a href="#">关于恒望</a>-->
							<!--<a href="#">合作伙伴</a>-->
							<!--<a href="#">联系我们</a>-->
							<!--<a href="#">网站地图</a>-->
							<!--<em>© 2015-2025 Hengwang.com 版权所有. 更多模板 <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></em>-->
						<!--</p>-->
					<!--</div>-->
				<!--</div>-->

			</div>

			<!--操作页面-->

			<div class="theme-popover-mask"></div>

			<div class="theme-popover">
				<div class="theme-span"></div>
				<div class="theme-poptit h-title">
					<a href="javascript:;" title="关闭" class="close">×</a>
				</div>
				<div class="theme-popbod dform">
					<form class="theme-signin" name="loginform" action="" method="post">

						<div class="theme-signin-left">

							<li class="theme-options">
								<div class="cart-title">颜色：</div>
								<ul>
									<li class="sku-line selected">12#川南玛瑙<i></i></li>
									<li class="sku-line">10#蜜橘色+17#樱花粉<i></i></li>
								</ul>
							</li>
							<li class="theme-options">
								<div class="cart-title">包装：</div>
								<ul>
									<li class="sku-line selected">包装：裸装<i></i></li>
									<li class="sku-line">两支手袋装（送彩带）<i></i></li>
								</ul>
							</li>
							<div class="theme-options">
								<div class="cart-title number">数量</div>
								<dd>
									<input class="min am-btn am-btn-default" name="" type="button" value="-" />
									<input class="text_box" name="" type="text" value="1" style="width:30px;" />
									<input class="add am-btn am-btn-default" name="" type="button" value="+" />
									<span  class="tb-hidden">库存<span class="stock">1000</span>件</span>
								</dd>

							</div>
							<div class="clear"></div>
							<div class="btn-op">
								<div class="btn am-btn am-btn-warning">确认</div>
								<div class="btn close am-btn am-btn-warning">取消</div>
							</div>

						</div>
						<div class="theme-signin-right">
							<div class="img-info">
								<img src="../images/kouhong.jpg_80x80.jpg" />
							</div>
							<div class="text-info">
								<span class="J_Price price-now">¥39.00</span>
								<span id="Stock" class="tb-hidden">库存<span class="stock">1000</span>件</span>
							</div>
						</div>

					</form>
				</div>
			</div>
		<!--引导 -->
		<!--<div class="navCir">-->
			<!--<li><a href="home.html"><i class="am-icon-home "></i>首页</a></li>-->
			<!--<li><a href="sort.html"><i class="am-icon-list"></i>分类</a></li>-->
			<!--<li class="active"><a href="shopcart.html"><i class="am-icon-shopping-basket"></i>购物车</a></li>	-->
			<!--<li><a href="../person/index.html"><i class="am-icon-user"></i>我的</a></li>					-->
		<!--</div>-->

	</body>
	<script>


        $(".numdown").click(function () {
            var r=$(this).prevAll(".goodsId").val();
            var obj = $(this).closest("div").find(".cartnum");
            var money = $(this).closest("div").find(".cartgoodsmoney");
            var allmoney = $(this).closest("li").next().find(".cartallmoney");


            if (obj.val() <=1) {
                obj.val(1);
            } else {
                obj.val(parseInt(obj.val()) - 1);
            }
            var objs = $(this).closest("div").find(".cartnum");
            objs.change();
            var sum=parseInt(objs.val()*money.val()).toFixed(2);
//            $(this).closest("li").next().find(".cartallmoneychange").innerHTML = "pp";
            $(this).closest("li").next().find(".cartallmoneychange").html(sum);
            GetCount();
            $.ajax({
                type: "POST",
                url: "/Luoqi/cart/numdown?goodsId="+r,
                success: function (maps) {

                },
                error: function () {
                    layer.closeAll();
                }
            });
        });







        $(".numup").click(function () {
            var r=$(this).prevAll(".goodsId").val();
            var obj = $(this).closest("div").find(".cartnum");
            var money = $(this).closest("div").find(".cartgoodsmoney");
            var allmoney = $(this).closest("li").next().find(".cartallmoney");

            var obj = $(this).closest("div").find(".cartnum");
            obj.val(parseInt(obj.val()) + 1);
            var objs = $(this).closest("div").find(".cartnum");
            objs.change();
            var sum=parseInt(objs.val()*money.val()).toFixed(2);
            $(this).closest("li").next().find(".cartallmoneychange").html(sum);
            GetCount();

            $.ajax({
                type: "POST",
                url: "/Luoqi/cart/numup?goodsId="+r,
                success: function (maps) {
                    },
                error: function () {
                    layer.closeAll();
                }
            });

        });


		$(".btn-fav").click(
		    function () {
		        var r=$(this).prevAll(".goodsId").val();
                $(this).html("已收藏");
                $.ajax({
                    //请求的方式,向服务器发送请求,查询用户名是否存在,发送什么类型的请求
                    type: "POST",
                    //MVC ,请求发送C层,C->Model,去域对象的里面取,js可以是被el表达式
                    url: "/Luoqi/collect/insertcollect?goodsId="+r,
					success: function (map) {
                        console.info(map);

                        if (map.name=="0") {

                            layer.msg("添加成功");

//                            $(this).prevAll(".btn-fav").html("已收藏");
                        }
                        else {
                            alert("已收藏");
//                            $(this).text("取消关注");

                            $(this).html("已收藏");

                        }
                    },
                    error: function () {
                        layer.closeAll();
                    }
                });
            }

		);

        $(document).ready(function () {


            //jquery特效制作复选框全选反选取消(无插件)
            // 全选
            $(".allselect").click(function () {

                if($(this).attr("checked")){
                    $(".gwc_tb2 input[name=newslist]").each(function () {
                        $(this).attr("checked", true);
                        // $(this).next().css({ "background-color": "#3366cc", "color": "#ffffff" });
                    });
                    GetCount();

                }
                else
                {
                    $(".gwc_tb2 input[name=newslist]").each(function () {
                        if ($(this).attr("checked")) {
                            $(this).attr("checked", false);
                            //$(this).next().css({ "background-color": "#ffffff", "color": "#000000" });
                        } else {
                            $(this).attr("checked", true);
                            //$(this).next().css({ "background-color": "#3366cc", "color": "#000000" });
                        }
                    });
                    GetCount();

                }

            });

            //反选
            $("#invert").click(function () {
                $(".gwc_tb2 input[name=newslist]").each(function () {
                    if ($(this).attr("checked")) {
                        $(this).attr("checked", false);
                        //$(this).next().css({ "background-color": "#ffffff", "color": "#000000" });
                    } else {
                        $(this).attr("checked", true);
                        //$(this).next().css({ "background-color": "#3366cc", "color": "#000000" });
                    }
                });
                GetCount();
            });

            //取消
            $("#cancel").click(function () {
                $(".gwc_tb2 input[name=newslist]").each(function () {
                    $(this).attr("checked", false);
                    // $(this).next().css({ "background-color": "#ffffff", "color": "#000000" });
                });
                GetCount();
            });

            // 所有复选(:checkbox)框点击事件
            $(".gwc_tb2 input[name=newslist]").click(function () {
                if ($(this).attr("checked")) {
                    //$(this).next().css({ "background-color": "#3366cc", "color": "#ffffff" });
                } else {
                    // $(this).next().css({ "background-color": "#ffffff", "color": "#000000" });
                }
            });

            // 输出
            $(".gwc_tb2 input[name=newslist]").click(function () {
                // $("#total2").html() = GetCount($(this));
                GetCount();
                //alert(conts);
            });
        });
        //******************
        function GetCount() {
            var conts = 0;
            var aa = 0;
            $(".gwc_tb2 input[name=newslist]").each(function () {
                if ($(this).attr("checked")) {
                    for (var i = 0; i < $(this).length; i++) {
                        var thismoney = $(this).closest("li").next().next().next().find(".wwwgoods");
                        var thisnum = $(this).closest("li").next().next().next().next().find(".cartnum");
                        var sums=parseInt(thismoney.val()*thisnum.val()).toFixed(2);
                        conts += parseInt(thismoney.val()*thisnum.val());
                        aa += 1;
                    }
                }
            });
            $("#shuliang").text(aa);
            $("#zong1").html((conts).toFixed(2));
            $("#jz1").css("display", "none");
            $("#jz2").css("display", "block");
        }








//        endgoodsId
//        endgoodsnum
        $(".endtopay").click(
            function () {
                var arrId = new Array();
                var arrnum = new Array();
                $(".gwc_tb2 input[name=newslist]").each(function () {
                    if ($(this).attr("checked")) {
                        for (var i = 0; i < $(this).length; i++) {

                            var thisgoodsId = $(this).prevAll(".endgoodsId").val();
                            var thisgoodsnum = $(this).prevAll(".endgoodsnum").val();
                            arrId.push($(this).prevAll(".endgoodsId").val());
                            arrnum.push($(this).prevAll(".endgoodsnum").val());
                        }
                    }
                });

                $.ajax({
                    //请求的方式,向服务器发送请求,查询用户名是否存在,发送什么类型的请求
                    type: "POST",
                    //MVC ,请求发送C层,C->Model,去域对象的里面取,js可以是被el表达式
                    url: "/Luoqi/order/insertorder?arrId="+arrId+"&arrnum="+arrnum,
                    success: function (maps) {
                        var ww=maps.orders;

                        window.location.href="/Luoqi/pay/pay?orderNum="+ww;



                    },
                    error: function () {
                        layer.closeAll();
                    }
                });








            }

        );











	</script>






</html>