<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>登录页面</title>
    <script th:src="@{/js/jquery-1.9.0.min.js}"></script>

</head>
<body>

<!--无法获取项目路径  html动态获取项目路径

thymeleaf模板 动态获取域对象,以及其他的
-->

<!--如果session存在,直接跳转到首页-->

<!--模板获得session-->
<!--<input type="hidden"  th:if="${session.user != null}" th:value="${session.user.uname}" id="hidden"/>-->
<!--<script>-->
    <!--//        获得session-->
    <!--//     js 客户端代码,session存在服务器,获不到session-->
    <!--//js代码编写页面跳转-->
    <!--//      页面路径-->
    <!--//        获得项目路径-->
    <!--var value1=$("#hidden").val();-->
    <!--if (value1 != null&& value1.length!=0){-->
        <!--var path=window.location.pathname;-->
        <!--//项目路径-->
        <!--var paths="/"+path.split("/")[1];-->
        <!--//        跳转到首页-->
        <!--//      location 地址栏对象-->
        <!--$(location).attr("href",paths+"/student/students");-->
    <!--}-->
<!--</script>-->


<form th:action="@{/user/login}" method="post">
    <!--如果session里面没有user对象,没有登录,不显示用户名和密码,value值
    没有错误信息,不显示用户名和密码
    存在错误信息,显示用户名和密码
    回显操作,
    第一次访问的时候 user1, 不存在
    判断user 存不存在,

    控制语句 th:if 条件存在时,标签存在
    if 和 unless
     -->
    <p>用户名:
        <input type="text" name="username" th:if="${user1 !=null}"  th:value="${user1.username}" />
        <input type="text" name="username" th:unless="${user1 !=null}"  />
    </p>
    <p>密码:
        <input type="password" name="password" th:if="${user1 !=null}"  th:value="${user1.password}"/>
        <input type="password" name="password" th:unless="${user1 !=null}" />
    </p>
    <p>
        <input type="submit" value="登录"/>
        <input type="reset" value="取消"/>
    </p>
    <p>
        <span style="color: red"   th:if="${user1 !=null}">
        用户或密码错误
    </span>
    </p>
</form>

</body>
</html>