<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <title>index</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <!--<link th:href="@{/css/skin.css}" rel="stylesheet" type="text/css" />-->
    <!--<script th:src="@{/js/jquery.min.js}"></script>-->
    <link th:href="@{/mall/resourcesmain1/css/jquery-ui-themes.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/mall/resourcesmain1/css/axure_rp_page.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/mall/datamain1/styles.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/mall/filesmain1/index/styles.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/mall/resourcesmain1/scripts/jquery-1.7.1.min.js}"></script>
    <script th:src="@{/mall/resourcesmain1/scripts/jquery-ui-1.8.10.custom.min.js}"></script>
    <script th:src="@{/mall/resourcesmain1/scripts/prototypePre.js}"></script>
    <script th:src="@{/mall/datamain1/document.js}"></script>
    <script th:src="@{/mall/resourcesmain1/scripts/prototypePost.js}"></script>
    <script th:src="@{/mall/filesmain1/index/data.js}"></script>
    <script type="text/javascript">
      $axure.utils.getTransparentGifPath = function() { return 'resources/images/transparent.gif'; };
      $axure.utils.getOtherPath = function() { return 'resources/Other.html'; };
      $axure.utils.getReloadPath = function() { return 'resources/reload.html'; };
    </script>
    <style>
      .faxianhaohuotupian{
        border-width:0px;
        margin-left: -100px;
        position:absolute;
        /*float: left;*/
        width:170px;
        height:170px;
        /*border: 1px solid red;*/
      }
      .faxianhaohuo{
        float: left;
        margin-left: 30px;
        margin-top: 5px;
        /*position: absolute;*/
        width: 180px;
        height: 220px;
        border: 1px solid black;
      }
      .faxianhaohuowenzi{
        position: absolute;
        margin-top: 185px;
        text-align: center;
        width:150px;
        height:22px;
        font-size:17px;
        border-width:0px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        course:hand;
      }

    </style>
  </head>
  <body>
    <div id="base" class="">

      <!-- Unnamed (矩形) -->
      <div id="u0" class="ax_default box_1">
        <img id="u0_img" class="img " th:src="@{/mall/imagesmain1/index/u0.png}"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u1" class="ax_default box_1">
        <img id="u1_img" class="img " th:src="@{/mall/imagesmain1/index/u1.png}"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u2" class="ax_default _二级标题">
        <div id="u2_div" class=""></div>
        <div id="u2_text" class="text ">
          <a th:href="@{/huanji/huanji}" target="_top">热卖榜</a>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u3" class="ax_default image">
        <img id="u3_img" class="img " th:src="@{/mall/imagesmain1/index/u3.png}"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u4" class="ax_default _三级标题">
        <div id="u4_div" class=""></div>
        <div id="u4_text" class="text ">
          <a href="../闪购/index.html" target="_top">
          <p><a th:href="@{/huanji/huanji}" target="_top">属于你的购物指南</a></p></a>
        </div>
      </div>

      <!-- 1 (组 合) -->
      <div id="u10" class="ax_default" data-label="1" data-left="0" data-top="110" data-width="380" data-height="420">

        <!-- Unnamed (矩形) -->
        <div id="u11" class="ax_default box_1">
          <img id="u11_img" class="img " th:src="@{/mall/imagesmain1/index/u11.png}"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u12" class="ax_default box_1">
          <img id="u12_img" class="img "th:src="@{/mall/imagesmain1/index/u11.png}"/>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u13" class="ax_default box_1">
          <img id="u13_img" class="img " th:src="@{/mall/imagesmain1/index/u11.png}"/>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u14" class="ax_default image">
          <a th:href="@{/goods/good(goodsId=${goods1.goodsId})}" target="_top">
          <img id="u14_img" class="img " th:src="${image1.goodsPic3}"/></a>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u15" class="ax_default image">
          <a th:href="@{/goods/good(goodsId=${goods2.goodsId})}" target="_top">
          <img id="u15_img" class="img " th:src="${image2.goodsPic3}"/></a>
        </div>

        <!-- Unnamed (图片) -->
        <div id="u16" class="ax_default image">
          <a th:href="@{/goods/good(goodsId=${goods3.goodsId})}" target="_top">
          <img id="u16_img" class="img " th:src="${image3.goodsPic3}"/></a>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u17" class="ax_default _一级标题">
          <div id="u17_div" class=""></div>
          <div id="u17_text" class="text ">
            <p><span>1</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u18" class="ax_default _一级标题">
          <div id="u18_div" class=""></div>
          <div id="u18_text" class="text ">
            <p><span>2</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u19" class="ax_default _一级标题">
          <div id="u19_div" class=""></div>
          <div id="u19_text" class="text ">
            <p><span>3</span></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u20" class="ax_default _二级标题">
          <div id="u20_div" class=""></div>
          <div id="u20_text" class="text " style="width: 108px">
            <!--<a th:href="@{/goods/good(goodsId=${goods1.goodsId})}" target="_top">-->
            <p><a th:text="${goods1.goodsName}" th:href="@{/goods/good(goodsId=${goods1.goodsId})}" target="_top"></a></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u21" class="ax_default _二级标题">
          <div id="u21_div" class=""></div>
          <div id="u21_text" class="text ">
            <p><a th:text="${goods2.goodsName}" th:href="@{/goods/good(goodsId=${goods3.goodsId})}" target="_top"></a></p>
          </div>
        </div>

        <!-- Unnamed (矩形) -->
        <div id="u22" class="ax_default _二级标题">
          <div id="u22_div" class=""></div>
          <div id="u22_text" class="text ">
            <p><a th:text="${goods3.goodsName}" th:href="@{/goods/good(goodsId=${goods3.goodsId})}" target="_top"></a></p>
          </div>
        </div>
      </div>

      <!-- 3 (组 合) -->
      <!--
      <!-- Unnamed (矩形) -->
      <div id="u49" class="ax_default box_1">
        <img id="u49_img" class="img "th:src="@{/mall/imagesmain1/index/u49.png}"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u50" class="ax_default box_1">
        <img id="u50_img" class="img " th:src="@{/mall/imagesmain1/index/u50.png}"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u51" class="ax_default box_1" style="background: #fff">

      </div>

      <!-- Unnamed (矩形) -->
      <div id="u52" class="ax_default box_1" style="background: #fff">

      </div>

      <!-- Unnamed (矩形) -->
      <div id="u53" class="ax_default _二级标题">
        <div id="u53_div" class=""></div>
        <div id="u53_text" class="text ">
          <p><a th:href="@{/huanji/huanji}" target="_top">发现好货</a></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u54" class="ax_default box_1">

        <img id="u54_img" class="img " th:src="@{/mall/imagesmain1/index/u54.png}"/>


      <!-- Unnamed (矩形) -->
        <!--<div class="faxianhaohuo" th:each="selectVolume4:${selectVolume4}">-->
      <!--<div id="u59" class="">-->
        <!--<div id="u59_div" class=""></div>-->
        <!--<div id="u59_text" class="text ">-->
          <!--<p><a th:text="${selectVolume4.goodsName}"></a></p>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash; Unnamed (图片) &ndash;&gt;-->
      <!--<div id="u60" class="">-->
        <!--<a href="../闪购/index.html" target="_top">-->
        <!--<img id="u60_img" class="img " th:src="@{/mall/imagesmain1/index/u60.jpg}"/></a>-->
      <!--</div>-->
      <!--</div>-->


        <div class="faxianhaohuo" th:each="selectVolume4:${selectVolume4}">
          <a th:href="@{/goods/good(goodsId=${selectVolume4.goodsId})}" target="_top">
            <img th:src="${selectVolume4.image.goodsPic3}" class="faxianhaohuotupian" ></a>
          <div class="faxianhaohuowenzi">
            <p><a th:text="${selectVolume4.goodsName}" th:href="@{/goods/good(goodsId=${selectVolume4.goodsId})}" target="_top"></a></p>
          </div>
        </div>


          </div>
        </div>


      </div>


      <!-- Unnamed (矩形) -->
      <div id="u67" class="ax_default _二级标题">
        <div id="u67_div" class=""></div>
        <div id="u67_text" class="text ">
          <p><a th:href="@{/volume/youhui}" target="_top">领劵中心</a></p>
        </div>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u68" class="ax_default image">
        <img id="u68_img" class="img " th:src="@{/mall/imagesmain1/index/u3.png}"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u69" class="ax_default _三级标题">
        <div id="u69_div" class=""></div>
        <div id="u69_text" class="text ">
          <p ><a th:href="@{/volume/youhui}" target="_top">更多好卷</a></p>
        </div>
      </div>

      <!-- Unnamed (热区) -->


      <!-- Unnamed (矩形) -->
      <div id="u71" class="ax_default box_1">
        <img id="u71_img" class="img "th:src="@{/mall/imagesmain1/index/u71.png}"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u72" class="ax_default box_1">
        <img id="u72_img" class="img " th:src="@{/mall/imagesmain1/index/u72.png}"/>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u73" class="ax_default image">
        <img id="u73_img" class="img " th:src="@{/mall/imagesmain1/index/u73.png}"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u74" class="ax_default box_1">
        <img id="u74_img" class="img " th:src="@{/mall/imagesmain1/index/u72.png}"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u75" class="ax_default box_1">
        <img id="u75_img" class="img " th:src="@{/mall/imagesmain1/index/u72.png}"/>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u76" class="ax_default image">
        <img id="u76_img" class="img " th:src="@{/mall/imagesmain1/index/u73.png}"/>
      </div>

      <!-- Unnamed (图片) -->
      <div id="u77" class="ax_default image">
        <img id="u77_img" class="img " th:src="@{/mall/imagesmain1/index/u73.png}"/>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u78" class="ax_default _一级标题">
        <div id="u78_div" class=""></div>
        <div id="u78_text" class="text ">
          <p><span>￥</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u79" class="ax_default _一级标题">
        <div id="u79_div" class=""></div>
        <div id="u79_text" class="text ">
          <p><span>50</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u80" class="ax_default _一级标题">
        <div id="u80_div" class=""></div>
        <div id="u80_text" class="text ">
          <p><span>满200可用</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u81" class="ax_default _一级标题">
        <div id="u81_div" class=""></div>
        <div id="u81_text" class="text ">
          <p><span>通用优惠卷</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u82" class="ax_default primary_button">
        <div id="u82_div" class=""></div>
        <div id="u82_text" class="text ">
          <p><span>立</span></p><p><span>即</span></p><p><span>领</span></p><p><span>取</span></p>
       </a> </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u83" class="ax_default primary_button">
        <div id="u83_div" class=""></div>
        <div id="u83_text" class="text ">
          <!--<a href="../person/coupon.html" target="_top">-->
          <p><span>立</span></p><p><span>即</span></p><p><span>领</span></p><p><span>取</span></p>
          </a>   </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u84" class="ax_default primary_button">
        <div id="u84_div" class=""></div>
        <div id="u84_text" class="text ">
          <!--<a href="../person/coupon.html" target="_top">-->
          <p><span>立</span></p><p><span>即</span></p><p><span>领</span></p><p><span>取</span></p>
     </a>   </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u85" class="ax_default _一级标题">
        <div id="u85_div" class=""></div>
        <div id="u85_text" class="text ">
          <p><span>￥</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u86" class="ax_default _一级标题">
        <div id="u86_div" class=""></div>
        <div id="u86_text" class="text ">
          <p><span>70</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u87" class="ax_default _一级标题">
        <div id="u87_div" class=""></div>
        <div id="u87_text" class="text ">
          <p><span>满250可用</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u88" class="ax_default _一级标题">
        <div id="u88_div" class=""></div>
        <div id="u88_text" class="text ">
          <p><span>通用优惠卷</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u89" class="ax_default _一级标题">
        <div id="u89_div" class=""></div>
        <div id="u89_text" class="text ">
          <p><span>￥</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u90" class="ax_default _一级标题">
        <div id="u90_div" class=""></div>
        <div id="u90_text" class="text ">
          <p><span>100</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u91" class="ax_default _一级标题">
        <div id="u91_div" class=""></div>
        <div id="u91_text" class="text ">
          <p><span>满300可用</span></p>
        </div>
      </div>

      <!-- Unnamed (矩形) -->
      <div id="u92" class="ax_default _一级标题">
        <div id="u92_div" class=""></div>
        <div id="u92_text" class="text ">
          <p><span>通用优惠卷</span></p>
        </div>
      </div>
    </div>
    <script>
        $("#u82").click(
            function () {
//                $(this).html("优惠券/已成功");
                $.ajax({
                    //请求的方式,向服务器发送请求,查询用户名是否存在,发送什么类型的请求
                    type: "POST",
                    //MVC ,请求发送C层,C->Model,去域对象的里面取,js可以是被el表达式
                    url: "/Luoqi/volume/addvolume?volumeId="+'25',
                    success: function (map) {
                        console.info(map);
                        if (map.name=="0") {
//                      layer.msg("成功领取该优惠券");
                            alert("成功领取该优惠券")
//                      $("lingquchenggong").show();
                        }
                        else {
                            alert("无法领取更多该优惠");
                        }
                    },
                    error: function () {
                        layer.closeAll();
                    }
                });
            }
        );$("#u83").click(
            function () {
//                $(this).html("优惠券/已成功");
                $.ajax({
                    //请求的方式,向服务器发送请求,查询用户名是否存在,发送什么类型的请求
                    type: "POST",
                    //MVC ,请求发送C层,C->Model,去域对象的里面取,js可以是被el表达式
                    url: "/Luoqi/volume/addvolume?volumeId="+'26',
                    success: function (map) {
                        console.info(map);
                        if (map.name=="0") {
//                      layer.msg("成功领取该优惠券");
                            alert("成功领取该优惠券")
//                      $("lingquchenggong").show();
                        }
                        else {
                            alert("无法领取更多该优惠");
                        }
                    },
                    error: function () {
                        layer.closeAll();
                    }
                });
            }
        );$("#u84").click(
            function () {
//                $(this).html("优惠券/已成功");
                $.ajax({
                    //请求的方式,向服务器发送请求,查询用户名是否存在,发送什么类型的请求
                    type: "POST",
                    //MVC ,请求发送C层,C->Model,去域对象的里面取,js可以是被el表达式
                    url: "/Luoqi/volume/addvolume?volumeId="+'27',
                    success: function (map) {
                        console.info(map);
                        if (map.name=="0") {
//                      layer.msg("成功领取该优惠券");
                            alert("成功领取该优惠券")
//                      $("lingquchenggong").show();
                        }
                        else {
                            alert("无法领取更多该优惠");
                        }
                    },
                    error: function () {
                        layer.closeAll();
                    }
                });
            }
        );
    </script>
  </body>
</html>
