<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="layui/css/layui.css"  media="all">
    <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->
    <link rel="icon" href="img/core-img/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="css/core-style.css">
    <link rel="stylesheet" href="style.css">

    <link href="css1/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css1/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css1/megamenu.css" rel="stylesheet" type="text/css" media="all" />








</head>
<body id="body"> <iframe src="../home/heart.html" width="1920px" height="45px " style="border: none"></iframe>
<br>
<br>
<br>
<br>

<!--轮播图-->
<div class="layui-carousel" id="test10">
    <div carousel-item="">
        <a href="../home/introduction.html"><div><img src="layui/images/1.jpg"></div></a>
        <a href="../home/introduction.html"><div><img src="layui/images/2.jpg"></div></a>
        <a href="../home/introduction.html"><div><img src="layui/images/3.jpg"></div></a>
    </div>
</div>


<!--热卖商品-->
<section class="new_arrivals_area section-padding-80 clearfix">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center">
                    <h2>热卖商品</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="popular-products-slides owl-carousel">

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="img/product-img/product-1.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="img/product-img/product-2.jpg" alt="">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>nike</span>
                            <a href="single-product-details.html">
                                <h6>户外运动鞋</h6>
                            </a>
                            <p class="product-price">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">加入购物车</a>
                                </div>
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">立即购买</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="img/product-img/product-2.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="img/product-img/product-3.jpg" alt="">
                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>波司登</span>
                            <a href="single-product-details.html">
                                <h6>冬季棉服</h6>
                            </a>
                            <p class="product-price">$800.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">加入购物车</a>
                                </div>
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">立即购买</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="img/product-img/product-3.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="img/product-img/product-4.jpg" alt="">

                            <!-- Product Badge -->
                            <div class="product-badge offer-badge">
                                <span>-30%</span>
                            </div>

                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>xx品牌</span>
                            <a href="single-product-details.html">
                                <h6>商品描述</h6>
                            </a>
                            <p class="product-price"><span class="old-price">$原价</span> $现价</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">加入购物车</a>
                                </div>
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">立即购买</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Single Product -->
                    <div class="single-product-wrapper">
                        <!-- Product Image -->
                        <div class="product-img">
                            <img src="img/product-img/product-4.jpg" alt="">
                            <!-- Hover Thumb -->
                            <img class="hover-img" src="img/product-img/product-5.jpg" alt="">

                            <!-- Product Badge -->
                            <div class="product-badge new-badge">
                                <span>New</span>
                            </div>

                            <!-- Favourite -->
                            <div class="product-favourite">
                                <a href="#" class="favme fa fa-heart"></a>
                            </div>
                        </div>
                        <!-- Product Description -->
                        <div class="product-description">
                            <span>xx品牌</span>
                            <a href="single-product-details.html">
                                <h6>商品描述</h6>
                            </a>
                            <p class="product-price">$80.00</p>

                            <!-- Hover Content -->
                            <div class="hover-content">
                                <!-- Add to Cart -->
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">加入购物车</a>
                                </div>
                                <div class="add-to-cart-btn">
                                    <a href="#" class="btn essence-btn">立即购买</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div style="width: 1400px ;margin-left: 400px;">
<div class="content">

    <div class="content-bottom">
        <h3>热销商品</h3>
        <div class="bottom-grid">
            <div class="col-md-4 shirt">
                <div class="bottom-grid-top">
                    <a href="single.html"><img class="img-responsive" src="images/sh.png" alt="" >
                        <div class="five">
                            <h6 >-50%</h6>
                        </div>
                        <div class="pre">
                            <p>Pure Slim Xe</p>
                            <span>$60.00</span>
                            <div class="clearfix"> </div>
                        </div></a>


                </div>
            </div>
            <div class="col-md-4 shirt">
                <div class="bottom-grid-top">
                    <a href="single.html"><img class="img-responsive" src="images/sh2.png" alt="" >
                        <div class="five">
                            <h6 class="one" >-50%</h6>
                        </div>
                        <div class="pre">
                            <p>Pure Slim Xe</p>
                            <span>$60.00</span>
                            <div class="clearfix"> </div>
                        </div></a>


                </div>
            </div>
            <div class="col-md-4 shirt">
                <div class="bottom-grid-top">
                    <a href="single.html"><img class="img-responsive" src="images/sh1.png" alt="" >
                        <div class="five">
                            <h6 class="one1" >-50%</h6>
                        </div>
                        <div class="pre">
                            <p>Pure Slim Xe</p>
                            <span>$60.00</span>
                            <div class="clearfix"> </div>
                        </div></a>


                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="bottom-grid">
            <div class="col-md-4 shirt">
                <div class="bottom-grid-top">
                    <a href="single.html"><img class="img-responsive" src="images/sh2.png" alt="" >
                        <div class="five">
                            <h6 class="one" >-50%</h6>
                        </div>
                        <div class="pre">
                            <p>Pure Slim Xe</p>
                            <span>$60.00</span>
                            <div class="clearfix"> </div>
                        </div></a>


                </div>
            </div>
            <div class="col-md-4 shirt">
                <div class="bottom-grid-top">
                    <a href="single.html"><img class="img-responsive" src="images/sh3.png" alt="" >
                        <div class="five">
                            <h6 class="one1">-50%</h6>
                        </div>
                        <div class="pre">
                            <p>Pure Slim Xe</p>
                            <span>$60.00</span>
                            <div class="clearfix"> </div>
                        </div></a>


                </div>
            </div>
            <div class="col-md-4 shirt">
                <div class="bottom-grid-top">
                    <a href="single.html"><img class="img-responsive" src="images/sh4.png" alt="" >
                        <div class="five">
                            <h6 >-50%</h6>
                        </div>
                        <div class="pre">
                            <p>Pure Slim Xe</p>
                            <span>$60.00</span>
                            <div class="clearfix"> </div>
                        </div></a>


                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="bottom-grid">
            <div class="col-md-4 shirt">
                <div class="bottom-grid-top">
                    <a href="single.html"><img class="img-responsive" src="images/sh5.png" alt="" >
                        <div class="five">
                            <h6 class="one1">-50%</h6>
                        </div>
                        <div class="pre">
                            <p>Pure Slim Xe</p>
                            <span>$60.00</span>
                            <div class="clearfix"> </div>
                        </div></a>


                </div>
            </div>
            <div class="col-md-4 shirt">
                <div class="bottom-grid-top">
                    <a href="single.html"><img class="img-responsive" src="images/sh.png" alt="" >
                        <div class="five">
                            <h6 >-50%</h6>
                        </div>
                        <div class="pre">
                            <p>Pure Slim Xe</p>
                            <span>$60.00</span>
                            <div class="clearfix"> </div>
                        </div></a>


                </div>
            </div>
            <div class="col-md-4 shirt">
                <div class="bottom-grid-top">
                    <a href="single.html"><img class="img-responsive" src="images/sh2.png" alt="" >
                        <div class="five">
                            <h6 class="one">-50%</h6>
                        </div>
                        <div class="pre">
                            <p>Pure Slim Xe</p>
                            <span>$60.00</span>
                            <div class="clearfix"> </div>
                        </div></a>


                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>

</div>


<br>
<br>
<br>



<script src="layui/layui.js" charset="utf-8"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['carousel', 'form'], function(){
        var carousel = layui.carousel
                ,form = layui.form;

        //常规轮播
        carousel.render({
            elem: '#test1'
            ,arrow: 'always'
        });

        //改变下时间间隔、动画类型、高度
        carousel.render({
            elem: '#test2'
            ,interval: 1800
            ,anim: 'fade'
            ,height: '120px'
        });

        //设定各种参数
        var ins3 = carousel.render({
            elem: '#test3'
        });
        //图片轮播
        carousel.render({
            elem: '#test10'
            ,width: '1920px'
            ,height: '500px'
            ,interval: 5000
        });
        //事件
        carousel.on('change(test4)', function(res){
            console.log(res)
        });

        var $ = layui.$, active = {
            set: function(othis){
                var THIS = 'layui-bg-normal'
                        ,key = othis.data('key')
                        ,options = {};

                othis.css('background-color', '#5FB878').siblings().removeAttr('style');
                options[key] = othis.data('value');
                ins3.reload(options);
            }
        };

        //监听开关
        form.on('switch(autoplay)', function(){
            ins3.reload({
                autoplay: this.checked
            });
        });

        $('.demoSet').on('keyup', function(){
            var value = this.value
                    ,options = {};
            if(!/^\d+$/.test(value)) return;

            options[this.name] = value;
            ins3.reload(options);
        });

        //其它示例
        $('.demoTest .layui-btn').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });
    });

</script>
<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="js/jquery/jquery-2.2.4.min.js"></script>
<!-- Popper js -->
<script src="js/popper.min.js"></script>
<!-- Bootstrap js -->
<script src="js/bootstrap.min.js"></script>
<!-- Plugins js -->
<script src="js/plugins.js"></script>
<!-- Classy Nav js -->
<script src="js/classy-nav.min.js"></script>
<!-- Active js -->
<script src="js/active.js"></script>

<script>
    $(document).ready(function(){
        $(".tab1 .single-bottom").hide();
        $(".tab2 .single-bottom").hide();
        $(".tab3 .w_nav2").hide();
        $(".tab4 .single-bottom").hide();
        $(".tab5 .star-at").hide();
        $(".tab1 ul").click(function(){
            $(".tab1 .single-bottom").slideToggle(300);
            $(".tab2 .single-bottom").hide();
            $(".tab3 .w_nav2").hide();
            $(".tab4 .single-bottom").hide();
            $(".tab5 .star-at").hide();
        })
        $(".tab2 ul").click(function(){
            $(".tab2 .single-bottom").slideToggle(300);
            $(".tab1 .single-bottom").hide();
            $(".tab3 .w_nav2").hide();
            $(".tab4 .single-bottom").hide();
            $(".tab5 .star-at").hide();
        })
        $(".tab3 ul").click(function(){
            $(".tab3 .w_nav2").slideToggle(300);
            $(".tab4 .single-bottom").hide();
            $(".tab5 .star-at").hide();
            $(".tab2 .single-bottom").hide();
            $(".tab1 .single-bottom").hide();
        })
        $(".tab4 ul").click(function(){
            $(".tab4 .single-bottom").slideToggle(300);
            $(".tab5 .star-at").hide();
            $(".tab3 .w_nav2").hide();
            $(".tab2 .single-bottom").hide();
            $(".tab1 .single-bottom").hide();
        })
        $(".tab5 ul").click(function(){
            $(".tab5 .star-at").slideToggle(300);
            $(".tab4 .single-bottom").hide();
            $(".tab3 .w_nav2").hide();
            $(".tab2 .single-bottom").hide();
            $(".tab1 .single-bottom").hide();
        })
    });
</script>

</body>
</html>