<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
<title>Home</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- css -->
	<!--<link th:href="@{/mall/filesmain1/index/styles.css}" type="text/css" rel="stylesheet"/>-->
	<!--<script th:src="@{/mall/resourcesmain1/scripts/jquery-1.7.1.min.js}"></script>-->
<link th:href="@{/malls/main2/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" th:href="@{/malls/main2/css/style.css}" type="text/css" media="all" />
<link rel="stylesheet" th:href="@{/malls/main2/css/font-awesome.min.css}" type="text/css" media="all" />
<!--// css -->
<!-- font -->
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //font -->
<script th:src="@{/malls/main2/js/jquery-1.11.1.min.js}"></script>
<script th:src="@{/malls/main2/js/bootstrap.js}"></script>
	<script type="text/javascript" th:src="@{/js/jquery-1.7.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
	<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
        <script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>

<div class="banner-bootom-w3-agileits">
	<div class="container">
		<div class="col-md-5 bb-grids bb-left-agileits-w3layouts">

			<a th:href="@{/goods/good(goodsId=52)}" target="_top">
				<div class="bb-left-agileits-w3layouts-inner">
					<h3>热卖</h3>
					<h4>折扣<span>75%</span></h4>
			</div></a>
		</div>
		<div class="col-md-4 bb-grids bb-middle-agileits-w3layouts">
			<a th:href="@{/goods/good(goodsId=41)}" target="_top"><div class="bb-middle-top">
				<h3>热卖</h3>
				<h4>折扣<span>55%</span></h4>
			</div></a>
			<a th:href="@{/goods/good(goodsId=128)}" target="_top"><div class="bb-middle-bottom">
				<h3>热卖</h3>
				<h4>折扣<span>65%</span></h4>
			</div></a>
		</div>
		<div class="col-md-3 bb-grids bb-right-agileits-w3layouts">
			<a th:href="@{/goods/good(goodsId=132)}" target="_top"><div class="bb-right-top">
				<h3>热卖</h3>
				<h4>折扣<span>50%</span></h4>
			</div></a>
			<a th:href="@{/goods/good(goodsId=124)}" target="_top"><div class="bb-right-bottom">
				<h3>热卖</h3>
				<h4>折扣<span>60%</span></h4>
			</div></a>
		</div>
		<div class="clearfix"></div>
	</div>
</div>


</body>

</html>